header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* vertical */

    padding: 0.5rem;
    background-color: lightSkyBlue;
}

#title {
    display: inline-block;
    
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 0.25rem 0.25rem 0rem 0.25rem;

    font-size: 2rem;
    background-color: rgb(179, 225, 253);
    color: white;
    
    text-decoration: none;
}