@import "VerseFlexbox.css";
@import "Footer.css";
@import "Header.css";
@import "Navigation.css";
@import "BibleVerse.css";

body {
    font-family: Arial;
    margin: 0px;
    font-size: 120%;
}

#app {
    display: flex;
    flex-direction: column;

    min-height: 100vh; /* required to place footer at the bottom */
}

#app > main {
    flex-grow: 1; /* give every free space to the main content, so that the <footer> is at the bottom */
}