nav {
    background-color: rgb(41,42,53);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    padding: 0.5rem;
}

.nav-item {
    /*backdrop-filter: blur(8px);*/
    
    border-radius: 1rem;
    padding: 0.3rem;
    background-color: rgb(255, 255, 255, 70%);
    cursor:pointer;
    user-select: none; /* no text selection */
}

/* pressed: */
.nav-item:active, 
.active {
    /*color: rgb(255, 255, 255, 80%);
    background-color: rgb(38, 161, 120, 60%);*/
    background-color: rgb(179, 225, 253, 70%);
}

.nav-item:hover {
    background-color: rgb(255, 255, 255, 90%);
}

.active.nav-item:hover {
    background-color: rgb(179, 225, 253, 90%);
}