:root {
    --tag-selected-color: 179, 225, 253;
    --tag-default-color: 255, 255, 255;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    padding: 0.5rem;
    
    background-color: rgb(41,42,53);
}

.nav-item {
    border-radius: 1rem;
    padding: 0.3rem;

    background-color: rgb(var(--tag-default-color), 70%);
    /*backdrop-filter: blur(8px);*/
    
    cursor: pointer;
    user-select: none; /* no text selection */
}

/* pressed: */
.nav-item:active, 
.active {
    /*color: rgb(255, 255, 255, 80%);
    background-color: rgb(38, 161, 120, 60%);*/
    background-color: rgb(var(--tag-selected-color), 70%);
}

.nav-item:hover {
    background-color: rgb(var(--tag-default-color), 90%);
}

.active.nav-item:hover {
    background-color: rgb(var(--tag-selected-color), 90%);
}